@charset "UTF-8";
@font-face {
  font-family: 'TT Lakes Medium';
  src: url(./fonts/TTLakes-Medium.eot);
  src: url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Demi';
  src: url(./fonts/TTLakes-DemiBold.eot);
  src: url(./fonts/TTLakes-DemiBold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-DemiBold.woff) format("woff"), url(./fonts/TTLakes-DemiBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Bold';
  src: url(./fonts/TTLakes-Bold.eot);
  src: url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@media (min-width: 320px) {
  html {
    box-sizing: border-box; }
  *, *:after, *:before {
    box-sizing: border-box; }
  .body {
    font-family: "TT Lakes Medium";
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 320px;
    height: auto;
    flex-direction: column; }
    .body .body__div-container .body__header {
      display: flex;
      width: 320px;
      height: 88px;
      justify-content: center;
      margin: 0px;
      border-width: 0px 0px 1px;
      border-color: #D9FFF5;
      border-style: solid; }
      .body .body__div-container .body__header .logo-d {
        width: 2px;
        height: 32px;
        margin-right: 16.73px;
        align-self: center; }
      .body .body__div-container .body__header .header__logo-company {
        width: 96.55px;
        height: 50.81px; }
      .body .body__div-container .body__header .header__logo-call {
        display: none; }
      .body .body__div-container .body__header .header__logo-chat {
        display: none; }
      .body .body__div-container .body__header .header__logo-profile {
        display: none; }
      .body .body__div-container .body__header .header__logo-divider-2 {
        display: none; }
      .body .body__div-container .body__header .header__logo-status {
        margin-right: 0px; }
    .body .body__div-container .logo {
      margin: 0px;
      margin-right: 16.73px;
      align-self: center;
      width: 40px;
      height: 40px;
      cursor: pointer; }
      .body .body__div-container .logo:hover {
        opacity: 60%;
        transition: opacity 200ms ease-in-out; }
    .body .body__div-container .body__main {
      display: flex;
      height: auto;
      flex-direction: column;
      background-color: #F8F8F8;
      position: relative; }
      .body .body__div-container .body__main .main__div {
        display: flex; }
        .body .body__div-container .body__main .main__div .div__highlight {
          width: 4px;
          height: 40px;
          align-self: flex-end; }
        .body .body__div-container .body__main .main__div .div__title {
          width: 288px;
          height: 40px;
          text-align: left;
          align-self: flex-end;
          margin-top: 24px;
          margin-bottom: 0px;
          margin-right: 16px;
          margin-left: 12px;
          font-size: 28px;
          line-height: 40px;
          letter-spacing: -0.6px;
          font-family: "TT Lakes Bold"; }
        .body .body__div-container .body__main .main__div .div__stat-rep {
          display: none; }
          .body .body__div-container .body__main .main__div .div__stat-rep .order-and-check-btn {
            cursor: pointer; }
      .body .body__div-container .body__main .main__nav {
        display: flex;
        flex-wrap: nowrap;
        margin: 0px;
        margin-top: 24px;
        padding: 0px;
        overflow-x: scroll;
        transform: translateX(-1px); }
        .body .body__div-container .body__main .main__nav .h2-nav {
          color: #7E7E82;
          padding-top: 8px;
          padding-bottom: 8px;
          padding-left: 16.54px;
          padding-right: 9.3px;
          margin: 0px;
          cursor: pointer; }
          .body .body__div-container .body__main .main__nav .h2-nav:hover {
            background: #FFFFFF;
            border: 2px solid #B8FFEC;
            padding: 6px 7.3px 6px 14.54px;
            border-radius: 6px; }
        .body .body__div-container .body__main .main__nav .nav__brands {
          display: none; }
        .body .body__div-container .body__main .main__nav .nav__devices {
          margin-left: 16px; }
        .body .body__div-container .body__main .main__nav .nav__feedback {
          margin-right: 15px; }
      .body .body__div-container .body__main .main__p-rm-img {
        display: flex;
        flex-direction: column; }
        .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm {
          display: flex;
          flex-direction: column; }
          .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .p-rm__p-half {
            display: none; }
          .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .p-rm__p-hidden {
            display: none;
            animation: appears .5s ease-in-out; }
          .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .p {
            width: 288px;
            margin: 0px;
            margin-top: 24px;
            margin-left: 16px;
            margin-right: 16px; }
          .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .visible-text-read-more {
            display: block; }
          .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .read-more-hide-btn {
            display: flex;
            width: 132px;
            margin: 0px;
            margin-top: 16px;
            margin-left: 16px;
            margin-bottom: 13px;
            padding: 0px;
            cursor: pointer; }
            .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .read-more-hide-btn .expand-hide-icon {
              height: 10.29px;
              width: 7.41px;
              margin: 0px;
              align-self: center;
              margin-left: 8px; }
            .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .read-more-hide-btn .read-more-hide-h2 {
              display: inline;
              margin: 0px;
              margin-left: 14px;
              font-family: "TT Lakes Demi";
              white-space: nowrap; }
            .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .read-more-hide-btn .hide-text__h2 {
              margin-left: 10px; }
          .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .hide-read-more-btn {
            display: none; }
          .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .p-rm__hide-text {
            display: none;
            animation: appears .5s ease-in-out; }
          .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .visible-hide-btn {
            display: block; }
        .body .body__div-container .body__main .main__p-rm-img .p-rm-img__image-company {
          width: auto;
          height: auto; }
    .body .body__div-container .h2 {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      white-space: nowrap;
      font-family: "TT Lakes Demi"; }
  @keyframes appears {
    from {
      opacity: 0;
      translate: 0 10px; }
    to {
      opacity: 1; } } }

@media (min-width: 768px) {
  .body {
    width: auto;
    height: auto;
    align-items: center; }
    .body .body__div-container .body__header {
      width: 768px;
      height: 88px;
      justify-content: flex-end; }
      .body .body__div-container .body__header .header__logo-divider-2 {
        display: block; }
      .body .body__div-container .body__header .header__logo-company {
        margin-right: 260px; }
      .body .body__div-container .body__header .header__logo-call {
        display: block; }
      .body .body__div-container .body__header .header__logo-chat {
        display: block; }
      .body .body__div-container .body__header .header__logo-profile {
        display: block; }
      .body .body__div-container .body__header .header__logo-status {
        margin-right: 24px; }
    .body .body__div-container .body__main {
      width: 769px;
      height: auto; }
      .body .body__div-container .body__main .main__div .div__title {
        margin-left: 20px; }
      .body .body__div-container .body__main .main__nav {
        margin-top: 32px; }
        .body .body__div-container .body__main .main__nav .nav__devices {
          margin-left: 24px; }
        .body .body__div-container .body__main .main__nav .nav__adresses {
          display: none; }
      .body .body__div-container .body__main .main__p-rm-img {
        flex-direction: row; }
        .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .p {
          width: 312px;
          margin-top: 32px;
          margin-left: 24px; }
        .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .p-rm__p-half {
          display: block; }
        .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .hide-half-text {
          display: none; }
        .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .read-more-hide-btn {
          margin-top: 10px;
          margin-left: 24px; }
        .body .body__div-container .body__main .main__p-rm-img .p-rm-img__image-company {
          width: 360px;
          height: 208px;
          border-radius: 6px;
          margin-left: 48px;
          margin-top: 32px; } }

@media (min-width: 1366px) {
  .body .body__div-container .body__header {
    display: none; }
    .body .body__div-container .body__header .logo-header {
      display: none; }
  .body .body__div-container .body__main {
    width: 1120px; }
    .body .body__div-container .body__main .main__div .div__title {
      margin-left: 30px;
      margin-top: 42px;
      white-space: nowrap; }
    .body .body__div-container .body__main .main__div .div__stat-rep {
      display: flex;
      margin-left: 420px;
      align-self: flex-end; }
      .body .body__div-container .body__main .main__div .div__stat-rep .stat-rep__h2-repair {
        align-self: center;
        margin: 0px;
        margin-right: 8px; }
      .body .body__div-container .body__main .main__div .div__stat-rep .stat-rep__h2-status {
        align-self: center;
        margin: 0px;
        margin-right: 8px;
        margin-left: 32px; }
      .body .body__div-container .body__main .main__div .div__stat-rep .stat-rep__logo-repair-1 {
        display: block;
        margin-right: 0px;
        align-self: flex-end; }
      .body .body__div-container .body__main .main__div .div__stat-rep .stat-rep__logo-status-1 {
        display: block;
        margin-right: 32px;
        align-self: flex-end; }
    .body .body__div-container .body__main .main__nav {
      overflow: visible;
      flex-wrap: wrap;
      margin-top: 9px; }
      .body .body__div-container .body__main .main__nav .nav__adresses {
        display: block; }
      .body .body__div-container .body__main .main__nav .nav__add-services {
        display: none; }
      .body .body__div-container .body__main .main__nav .nav__feedback {
        margin-left: 32px; }
      .body .body__div-container .body__main .main__nav .nav__devices {
        margin: 0px; }
      .body .body__div-container .body__main .main__nav .nav__brands {
        display: block;
        margin-left: 32px; }
    .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .p {
      margin-left: 34px;
      width: 498px;
      margin-right: 30px;
      margin-top: 15px; }
    .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .p-rm__p-half {
      display: none; }
    .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .p-rm__p-hidden {
      display: block;
      margin-top: 30px;
      animation: none; }
    .body .body__div-container .body__main .main__p-rm-img .p-rm-img__p-rm .read-more-hide-btn {
      display: none;
      margin-left: 32px;
      margin-top: 15px; }
    .body .body__div-container .body__main .main__p-rm-img .p-rm-img__image-company {
      width: 531px;
      height: 307px;
      margin: 0px;
      margin-top: 10px; } }

@media (min-width: 320px) {
  .body__modal-menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 676px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: none;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    z-index: 1; }
    .body__modal-menu .modal-menu__menu-header {
      width: auto;
      height: 86px;
      display: flex;
      background-color: #FFFFFF;
      justify-content: space-between;
      align-items: center; }
      .body__modal-menu .modal-menu__menu-header .menu-header__logo-modal-menu {
        margin-left: 16px; }
      .body__modal-menu .modal-menu__menu-header .menu-header__logo-company {
        height: 51px;
        margin-right: 75px;
        cursor: pointer; }
        .body__modal-menu .modal-menu__menu-header .menu-header__logo-company:hover {
          opacity: 0.5;
          transition: opacity 200ms ease-in-out; }
      .body__modal-menu .modal-menu__menu-header .menu-header__logo-status {
        margin-right: 16px; }
    .body__modal-menu .logo-burger {
      width: 40px;
      height: 40px;
      cursor: pointer; }
      .body__modal-menu .logo-burger:hover {
        opacity: 0.5;
        transition: opacity 200ms ease-in-out; }
    .body__modal-menu .modal-menu__main {
      margin-bottom: 32px; }
      .body__modal-menu .modal-menu__main .h3-services {
        cursor: pointer; }
        .body__modal-menu .modal-menu__main .h3-services:hover {
          opacity: 0.5;
          transition: opacity 200ms ease-in-out; }
      .body__modal-menu .modal-menu__main .main__menu-repair {
        display: none; }
      .body__modal-menu .modal-menu__main .main__div-title {
        display: flex; }
        .body__modal-menu .modal-menu__main .main__div-title .main__menu-title {
          margin: 0;
          margin-left: 12px;
          align-self: center;
          color: #7E7E82; }
      .body__modal-menu .modal-menu__main .main__div-title-desktop {
        display: none; }
    .body__modal-menu .h3-menu {
      font-weight: 500;
      margin-left: 16px;
      margin-top: 24px;
      margin-bottom: 0;
      font-size: 16px; }
    .body__modal-menu .modal-menu__footer .footer__div-logos {
      display: flex;
      align-items: center; }
      .body__modal-menu .modal-menu__footer .footer__div-logos .div-logos__logo-call {
        margin-left: 16px;
        margin-right: 16px; }
      .body__modal-menu .modal-menu__footer .footer__div-logos .div-logos__logo-chat {
        margin-right: 16px; }
    .body__modal-menu .modal-menu__footer .footer__mail {
      display: inline-block;
      margin: 0;
      margin-top: 16px;
      margin-left: 16px;
      color: #1B1C21;
      text-decoration: none; }
      .body__modal-menu .modal-menu__footer .footer__mail:hover {
        opacity: 0.5;
        transition: opacity 200ms ease-in-out; }
    .body__modal-menu .modal-menu__footer .footer__phone {
      display: block;
      font-family: "TT Lakes Bold";
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
      margin: 0;
      margin-left: 16px;
      margin-top: 12px; }
    .body__modal-menu .modal-menu__footer .footer__languages {
      display: flex;
      flex-direction: row; }
      .body__modal-menu .modal-menu__footer .footer__languages .language {
        margin: 0;
        margin-top: 8px;
        margin-left: 7px;
        margin-bottom: 32px;
        letter-spacing: -0.2px;
        cursor: pointer; }
        .body__modal-menu .modal-menu__footer .footer__languages .language:hover {
          opacity: 0.5;
          transition: opacity 200ms ease-in-out; }
      .body__modal-menu .modal-menu__footer .footer__languages .languages__RU {
        margin-left: 16px; }
  .body__container-opacity {
    opacity: 5%;
    transition: opacity 200ms ease-in-out; }
  .visible-modal-menu {
    display: block;
    animation: sweep-1 .5s ease-in-out; }
  @keyframes sweep-1 {
    from {
      opacity: 0;
      margin-top: -10px; }
    to {
      opacity: 1;
      margin: 0; } } }

@media (min-width: 768px) {
  .body__modal-menu {
    height: 1024px; }
    .body__modal-menu .modal-menu__menu-header .menu-header__logo-modal-menu {
      margin-left: 24px; }
    .body__modal-menu .modal-menu__menu-header .menu-header__logo-company {
      margin-right: 67px; }
    .body__modal-menu .modal-menu__menu-header .menu-header__logo-status {
      margin-right: 24px; }
    .body__modal-menu .modal-menu__main {
      margin-bottom: 268px; }
      .body__modal-menu .modal-menu__main .main__div-title .main__logo-highlight {
        position: relative;
        top: 15px; }
      .body__modal-menu .modal-menu__main .main__div-title .h3-menu {
        margin-left: 24px;
        margin-top: 32px; }
      .body__modal-menu .modal-menu__main .main__div-title .main__menu-title {
        margin-left: 20px; }
    .body__modal-menu .h3-menu {
      margin-left: 24px;
      margin-top: 32px; }
    .body__modal-menu .modal-menu__footer .h3-menu {
      margin-left: 24px;
      margin-top: 32px; }
    .body__modal-menu .modal-menu__footer .footer__div-logos .div-logos__logo-call {
      margin-left: 24px; }
    .body__modal-menu .modal-menu__footer .footer__mail {
      margin-left: 24px; }
    .body__modal-menu .modal-menu__footer .footer__phone {
      margin-left: 24px; }
    .body__modal-menu .modal-menu__footer .footer__languages {
      margin-top: 32px; }
      .body__modal-menu .modal-menu__footer .footer__languages .languages__RU {
        margin-left: 24px; } }

@media (min-width: 1366px) {
  .body {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
    .body .body__modal-menu {
      display: block;
      position: static;
      height: auto;
      width: 305px;
      box-shadow: 0px 0px 0px rgba(14, 24, 80, 0.2); }
      .body .body__modal-menu .modal-menu__menu-header .menu-header__logo-modal-menu {
        display: none; }
      .body .body__modal-menu .modal-menu__menu-header .menu-header__logo-company {
        margin-left: 22px;
        margin-top: 30px; }
      .body .body__modal-menu .modal-menu__menu-header .menu-header__logo-status {
        margin-top: 35px;
        margin-right: 29px; }
      .body .body__modal-menu .modal-menu__main {
        margin-bottom: 241px; }
        .body .body__modal-menu .modal-menu__main .main__menu-repair {
          display: block;
          cursor: pointer; }
        .body .body__modal-menu .modal-menu__main .main__div-title {
          display: none; }
        .body .body__modal-menu .modal-menu__main .main__div-title-desktop {
          display: flex; }
          .body .body__modal-menu .modal-menu__main .main__div-title-desktop .main__logo-highlight {
            position: relative;
            top: 13px; }
          .body .body__modal-menu .modal-menu__main .main__div-title-desktop .main__menu-service-desktop {
            margin-left: 20px;
            color: #7E7E82; }
        .body .body__modal-menu .modal-menu__main .main__menu-service {
          display: none; }
      .body .body__modal-menu .modal-menu__footer .footer__div-logos .div-logos__logo-call {
        margin-left: 19px; }
      .body .body__modal-menu .modal-menu__footer .footer__mail {
        margin-top: 16.5px;
        margin-left: 19px; }
      .body .body__modal-menu .modal-menu__footer .footer__phone {
        margin-left: 19px; }
      .body .body__modal-menu .modal-menu__footer .footer__languages .language {
        margin-top: 41px; }
      .body .body__modal-menu .modal-menu__footer .footer__languages .languages__RU {
        margin-left: 21px; }
    .body .h3-menu {
      margin-top: 28px;
      margin-left: 24px; } }

@media (min-width: 320px) {
  .main__section-brands {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 234px;
    border-top: 1px solid #D9FFF5;
    min-width: 0;
    position: relative; }
    .main__section-brands .section-brands__title {
      display: flex;
      align-items: center;
      height: 80px;
      margin: 0;
      background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
      color: #7E7E82; }
    .main__section-brands .text {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      margin-left: 16px; }
    .main__section-brands .section-brands__div-brands {
      display: flex;
      margin-top: 16px;
      height: 87px;
      overflow: hidden;
      width: 240px; }
      .main__section-brands .section-brands__div-brands .swiper-wrapper {
        display: flex; }
    .main__section-brands .button {
      display: flex;
      width: 240px;
      height: 72px;
      background-color: #FFFFFF;
      align-items: center;
      margin: 0;
      border: 1px solid #EAEAEA;
      border-radius: 6px;
      cursor: pointer; }
      .main__section-brands .button:hover {
        opacity: 60%;
        transition: opacity 200ms ease-in-out; }
      .main__section-brands .button .logo-btn-brands {
        margin-left: 16px; }
      .main__section-brands .button .go-to {
        width: 40px;
        height: 40px;
        margin-right: 16px; }
      .main__section-brands .button .lenovo-btn__logo-lenovo {
        margin-right: 60px; }
      .main__section-brands .button .samsung-btn__logo-samsung {
        margin-right: 52px; }
      .main__section-brands .button .apple-btn__logo-apple {
        margin-right: 124px; }
      .main__section-brands .button .viewsonic-btn__logo-viewsonic {
        margin-right: 42px; }
      .main__section-brands .button .bosh-btn__logo-bosh {
        margin-right: 40px; }
      .main__section-brands .button .hp-btn__logo-hp {
        margin-right: 122px; }
      .main__section-brands .button .acer-btn__logo-acer {
        margin-right: 74px; }
      .main__section-brands .button .sony-btn__logo-sony {
        margin-right: 42px; }
    .main__section-brands .swiper-pagination {
      position: absolute;
      top: 195px; }
      .main__section-brands .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #B5B6BC; }
    .main__section-brands .section-brands__div-brands-768px {
      display: none; }
      .main__section-brands .section-brands__div-brands-768px .hidden-brands-1119px__viewsonic-btn-4 {
        display: none; }
      .main__section-brands .section-brands__div-brands-768px .hidden-brands-1119px__sony-btn-8 {
        display: none; }
  .main__nav-fade-out {
    display: block;
    width: 24px;
    height: 60px;
    position: absolute;
    left: 296px;
    top: 75px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); } }

@media (min-width: 768px) {
  .main__section-brands {
    width: 768px;
    height: auto;
    margin-top: 30px; }
    .main__section-brands .section-brands__title {
      height: 56px; }
    .main__section-brands .text {
      margin-left: 24px; }
    .main__section-brands .section-brands__div-brands {
      display: none; }
    .main__section-brands .swiper-pagination {
      display: none; }
    .main__section-brands .section-brands__div-brands-768px {
      display: flex;
      margin-top: 8px;
      height: auto;
      flex-wrap: wrap; }
      .main__section-brands .section-brands__div-brands-768px .div-brands__details {
        font-family: "TT Lakes Demi"; }
        .main__section-brands .section-brands__div-brands-768px .div-brands__details .details__hidden-brands-768px {
          display: flex;
          flex-wrap: wrap; }
      .main__section-brands .section-brands__div-brands-768px .div-brands__details[open] .details__summary {
        top: 220px;
        right: 610px; }
      .main__section-brands .section-brands__div-brands-768px .button {
        width: 224px;
        margin-left: 22px;
        margin-top: 16px; }
        .main__section-brands .section-brands__div-brands-768px .button .lenovo-btn__logo-lenovo {
          margin-right: 44px; }
        .main__section-brands .section-brands__div-brands-768px .button .samsung-btn__logo-samsung {
          margin-right: 36px; }
        .main__section-brands .section-brands__div-brands-768px .button .apple-btn__logo-apple {
          margin-right: 108px; }
        .main__section-brands .section-brands__div-brands-768px .button .viewsonic-btn__logo-viewsonic {
          margin-right: 26px;
          margin-left: 14px; }
        .main__section-brands .section-brands__div-brands-768px .button .bosh-btn__logo-bosh {
          margin-right: 24px; }
        .main__section-brands .section-brands__div-brands-768px .button .hp-btn__logo-hp {
          margin-right: 108px;
          margin-left: 10px; }
        .main__section-brands .section-brands__div-brands-768px .button .acer-btn__logo-acer {
          margin-right: 58px; }
        .main__section-brands .section-brands__div-brands-768px .button .sony-btn__logo-sony {
          margin-right: 26px;
          margin-left: 14px; }
  .details {
    position: relative; }
    .details summary::marker {
      content: url(./static/icon-more.svg);
      color: transparent; }
    .details summary::before {
      content: 'Показать все';
      white-space: nowrap;
      margin-left: 16px;
      font-family: "TT Lakes Demi";
      font-size: 16px;
      letter-spacing: -0.2px; }
  .details[open] {
    animation: sweep .5s ease-in-out;
    z-index: 1; }
    .details[open] summary::marker {
      content: url(./static/icon-hide.svg); }
    .details[open] summary::before {
      content: 'Скрыть'; }
  @keyframes sweep {
    from {
      opacity: 0;
      margin-top: -10px; }
    to {
      opacity: 1;
      margin-top: 0; } }
  .details__summary {
    position: absolute;
    right: 578px;
    top: 115px;
    width: 130px;
    z-index: 1; }
    .details__summary:hover {
      cursor: pointer; }
  .main__nav-fade-out {
    width: 24px;
    height: 81px;
    position: absolute;
    left: 745px; } }

@media (min-width: 1366px) {
  .main__section-brands {
    width: 1120px;
    margin-top: 40px; }
    .main__section-brands .text {
      margin-left: 32px; }
    .main__section-brands .section-brands__div-brands-768px {
      margin-bottom: 60px; }
      .main__section-brands .section-brands__div-brands-768px .button {
        width: 240px;
        margin-left: 30px;
        margin-top: 16px; }
        .main__section-brands .section-brands__div-brands-768px .button .lenovo-btn__logo-lenovo {
          margin-right: 60px; }
        .main__section-brands .section-brands__div-brands-768px .button .samsung-btn__logo-samsung {
          margin-right: 52px; }
        .main__section-brands .section-brands__div-brands-768px .button .apple-btn__logo-apple {
          margin-right: 124px; }
        .main__section-brands .section-brands__div-brands-768px .button .viewsonic-btn__logo-viewsonic {
          margin-right: 42px; }
        .main__section-brands .section-brands__div-brands-768px .button .bosh-btn__logo-bosh {
          margin-right: 40px; }
        .main__section-brands .section-brands__div-brands-768px .button .hp-btn__logo-hp {
          margin-right: 122px;
          margin-left: 10px; }
        .main__section-brands .section-brands__div-brands-768px .button .acer-btn__logo-acer {
          margin-right: 74px; }
        .main__section-brands .section-brands__div-brands-768px .button .sony-btn__logo-sony {
          margin-right: 42px;
          margin-left: 14px; }
      .main__section-brands .section-brands__div-brands-768px .hidden-brands-1119px__viewsonic-btn-4 {
        display: flex; }
      .main__section-brands .section-brands__div-brands-768px .hidden-brands-1119px__sony-btn-8 {
        display: flex; }
      .main__section-brands .section-brands__div-brands-768px .hidden-brands-768px__viewsonic-btn-4 {
        display: none; }
      .main__section-brands .section-brands__div-brands-768px .hidden-brands-768px__sony-btn-8 {
        display: none; }
      .main__section-brands .section-brands__div-brands-768px .div-brands__details .details__summary {
        right: 910px;
        top: 120px;
        width: 130px; }
      .main__section-brands .section-brands__div-brands-768px .div-brands__details[open] .details__summary {
        top: 140px;
        right: 640px; }
  .main__nav-fade-out {
    display: none; } }

@media (min-width: 320px) {
  .main__type-of-devices {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 16px;
    margin: 0;
    position: relative;
    min-width: 0; }
    .main__type-of-devices .type-of-devices__title {
      display: flex;
      align-items: center;
      height: 80px;
      margin: 0;
      background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
      color: #7E7E82;
      border-top: 1px solid #D9FFF5;
      padding-left: 16px; }
    .main__type-of-devices .type-of-devices__div-devices {
      display: flex;
      margin-bottom: 52px;
      overflow-x: hidden;
      width: 240px;
      align-self: center; }
      .main__type-of-devices .type-of-devices__div-devices .div-devices__wrapper .devices-btn {
        display: flex;
        flex-direction: column;
        width: 240px;
        height: 160px;
        margin-top: 16px;
        background-color: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        cursor: pointer; }
        .main__type-of-devices .type-of-devices__div-devices .div-devices__wrapper .devices-btn .divices-text-btn {
          margin: 0;
          margin-top: 16px;
          margin-left: 16px; }
        .main__type-of-devices .type-of-devices__div-devices .div-devices__wrapper .devices-btn .logo-go {
          width: 40px;
          height: 40px;
          margin-left: 184px;
          margin-right: 16px;
          margin-top: 64px;
          margin-bottom: 16px; }
        .main__type-of-devices .type-of-devices__div-devices .div-devices__wrapper .devices-btn:hover {
          opacity: 0.5;
          transition: opacity 200ms ease-in-out; }
      .main__type-of-devices .type-of-devices__div-devices .type-of-devices___swiper-pagination {
        position: absolute;
        transform: translateX(70px) translateY(-5px); }
        .main__type-of-devices .type-of-devices__div-devices .type-of-devices___swiper-pagination .swiper-pagination-bullet {
          width: 12px;
          height: 12px;
          background-color: #B5B6BC; }
    .main__type-of-devices .type-of-devices__div-devices-768px {
      display: none; } }

@media (min-width: 768px) {
  .main__type-of-devices .type-of-devices__title {
    padding-left: 24px;
    height: 56px;
    margin-top: 82px; }
  .main__type-of-devices .type-of-devices__div-devices {
    display: none; }
    .main__type-of-devices .type-of-devices__div-devices .div-devices__wrapper .type-of-devices___swiper-pagination {
      display: none; }
  .main__type-of-devices .type-of-devices__div-devices-768px {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px; }
    .main__type-of-devices .type-of-devices__div-devices-768px .devices-btn {
      display: flex;
      flex-direction: column;
      width: 224px;
      height: 160px;
      margin-top: 16px;
      margin-left: 24px;
      background-color: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 6px;
      cursor: pointer; }
      .main__type-of-devices .type-of-devices__div-devices-768px .devices-btn .divices-text-btn {
        margin: 0;
        margin-top: 16px;
        margin-left: 16px; }
      .main__type-of-devices .type-of-devices__div-devices-768px .devices-btn .logo-go {
        width: 40px;
        height: 40px;
        margin-left: 168px;
        margin-right: 16px;
        margin-top: 64px;
        margin-bottom: 16px; }
      .main__type-of-devices .type-of-devices__div-devices-768px .devices-btn:hover {
        opacity: 0.5;
        transition: opacity 200ms ease-in-out; }
    .main__type-of-devices .type-of-devices__div-devices-768px .div-devices__monitors-btn-1119px {
      display: none; }
    .main__type-of-devices .type-of-devices__div-devices-768px .div-devices__details .summary-devices {
      right: 580px;
      top: 200px; }
    .main__type-of-devices .type-of-devices__div-devices-768px .div-devices__details .details__hidden-buttons {
      display: flex;
      flex-wrap: wrap; }
    .main__type-of-devices .type-of-devices__div-devices-768px .div-devices__details[open] .details__summary {
      top: 395px;
      right: 605px; } }

@media (min-width: 1366px) {
  .main__type-of-devices .type-of-devices__title {
    padding-left: 32px;
    margin-top: 30px; }
  .main__type-of-devices .type-of-devices__div-devices-768px .devices-btn {
    margin-left: 32px;
    width: 240px;
    margin-top: 24px; }
    .main__type-of-devices .type-of-devices__div-devices-768px .devices-btn .logo-go {
      margin-left: 184px; }
  .main__type-of-devices .type-of-devices__div-devices-768px .div-devices__monitors-btn-1119px {
    display: block; }
  .main__type-of-devices .type-of-devices__div-devices-768px .monitors-btn-hidden {
    display: none; }
  .main__type-of-devices .type-of-devices__div-devices-768px .div-devices__details .summary-devices {
    right: 915px;
    top: 210px; }
  .main__type-of-devices .type-of-devices__div-devices-768px .div-devices__details[open] .details__summary {
    top: 430px;
    right: 950px; } }

@media (min-width: 320px) {
  .main__service-price {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 16px;
    margin: 0;
    position: relative;
    min-width: 0; }
    .main__service-price .service-price__title {
      display: flex;
      align-items: center;
      height: 56px;
      margin: 0;
      background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
      color: #7E7E82;
      border-top: 1px solid #D9FFF5;
      padding-left: 16px; }
    .main__service-price .service-price__header-of-table {
      display: none; }
    .main__service-price .service-price__div-of-services {
      display: flex;
      margin-bottom: 40px;
      overflow: hidden;
      width: 270px;
      margin-left: auto;
      margin-right: auto; }
      .main__service-price .service-price__div-of-services .div-of-services__wrapper .service-btn {
        display: flex;
        flex-direction: column;
        width: 260px;
        height: 200px;
        margin-top: 16px;
        background-color: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.2px; }
        .main__service-price .service-price__div-of-services .div-of-services__wrapper .service-btn .p-title {
          display: block;
          width: 228px;
          margin: 0;
          margin-left: 16px;
          margin-top: 16px;
          color: #7E7E82; }
        .main__service-price .service-price__div-of-services .div-of-services__wrapper .service-btn .p-text {
          display: block;
          width: 244px;
          margin: 0;
          margin-top: 4px;
          margin-left: 16px; }
        .main__service-price .service-price__div-of-services .div-of-services__wrapper .service-btn .div-text-and-btn {
          display: flex; }
          .main__service-price .service-price__div-of-services .div-of-services__wrapper .service-btn .div-text-and-btn .div__order-btn {
            display: flex;
            background-color: #FF3E79;
            color: #FFFFFF;
            width: 119px;
            height: 32px;
            border-radius: 16px;
            margin-right: 16px;
            margin-bottom: 16px;
            margin-top: 16px;
            cursor: pointer; }
            .main__service-price .service-price__div-of-services .div-of-services__wrapper .service-btn .div-text-and-btn .div__order-btn:hover {
              opacity: 0.5;
              transition: opacity 200ms ease-in-out; }
            .main__service-price .service-price__div-of-services .div-of-services__wrapper .service-btn .div-text-and-btn .div__order-btn .order-btn__text {
              display: block;
              font-size: 12px;
              font-weight: 600;
              letter-spacing: -0.15px;
              line-height: 24px;
              margin: 0;
              align-self: center;
              margin-left: 12px; }
            .main__service-price .service-price__div-of-services .div-of-services__wrapper .service-btn .div-text-and-btn .div__order-btn .order-btn__img-dropdown {
              width: 7px;
              height: 9.63px;
              align-self: center;
              margin-left: 17px;
              margin-right: 16px; }
          .main__service-price .service-price__div-of-services .div-of-services__wrapper .service-btn .div-text-and-btn .test-btn {
            margin-top: 0; }
    .main__service-price .div-of-services__swiper-pagination {
      position: absolute;
      transform: translateX(105px) translateY(-233px); }
      .main__service-price .div-of-services__swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #B5B6BC; }
    .main__service-price .service-price__div-of-services-768px {
      display: none; }
    .main__service-price .service-price__info {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin: 0;
      margin-left: 16px;
      margin-right: 16px; }
    .main__service-price .service-price__div-offer {
      display: flex;
      margin-left: 16px;
      margin-bottom: 52px;
      cursor: pointer; }
      .main__service-price .service-price__div-offer .div-offer__get-offer {
        margin-right: 15px;
        margin-bottom: 0;
        font-family: "TT Lakes Demi"; }
      .main__service-price .service-price__div-offer .div-offer__icon {
        position: relative;
        top: 21px;
        right: 185px; }
      .main__service-price .service-price__div-offer:hover {
        opacity: 0.5;
        transition: opacity 200ms ease-in-out; } }

@media (min-width: 768px) {
  .main__service-price .service-price__title {
    padding-left: 24px; }
  .main__service-price .service-price__div-of-services {
    display: none; }
  .main__service-price .div-of-services__swiper-pagination {
    display: none; }
  .main__service-price .service-price__header-of-table {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    margin-top: 31px; }
    .main__service-price .service-price__header-of-table .table-name {
      margin: 0; }
    .main__service-price .service-price__header-of-table .table-text {
      margin: 0;
      margin-bottom: 16px; }
    .main__service-price .service-price__header-of-table .header-of-table__text-1 {
      margin-left: 40px; }
    .main__service-price .service-price__header-of-table .header-of-table__text-2 {
      margin-left: 246px; }
    .main__service-price .service-price__header-of-table .header-of-table__text-3 {
      margin-left: 61px; }
  .main__service-price .service-price__div-of-services-768px {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 14px;
    line-height: 18px; }
    .main__service-price .service-price__div-of-services-768px .service-btn-768px {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      border-bottom: 1px solid #EAEAEA;
      margin-left: 16px;
      margin-right: 16px; }
      .main__service-price .service-price__div-of-services-768px .service-btn-768px .p-text-price-1 {
        margin-left: 257px; }
      .main__service-price .service-price__div-of-services-768px .service-btn-768px .p-text-price-2 {
        margin-left: 230px; }
      .main__service-price .service-price__div-of-services-768px .service-btn-768px .p-text-price-3 {
        margin-left: 100px; }
      .main__service-price .service-price__div-of-services-768px .service-btn-768px .p-text-price-4 {
        margin-left: 5px; }
      .main__service-price .service-price__div-of-services-768px .service-btn-768px .p-text-price-5 {
        margin-left: 102px; }
      .main__service-price .service-price__div-of-services-768px .service-btn-768px .p-text-duration-1 {
        margin-right: 33px; }
      .main__service-price .service-price__div-of-services-768px .service-btn-768px .p-text-duration {
        margin-left: 15px; }
      .main__service-price .service-price__div-of-services-768px .service-btn-768px .div__order-btn-768px {
        display: flex;
        background-color: #FF3E79;
        color: #FFFFFF;
        width: 119px;
        height: 32px;
        border-radius: 16px;
        margin-right: 0;
        cursor: pointer; }
        .main__service-price .service-price__div-of-services-768px .service-btn-768px .div__order-btn-768px .order-btn__text {
          display: block;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: -0.15px;
          line-height: 24px;
          margin: 0;
          align-self: center;
          margin-left: 12px; }
        .main__service-price .service-price__div-of-services-768px .service-btn-768px .div__order-btn-768px .order-btn__img-dropdown {
          width: 7px;
          height: 9.63px;
          align-self: center;
          margin-left: 17px;
          margin-right: 16px; }
        .main__service-price .service-price__div-of-services-768px .service-btn-768px .div__order-btn-768px:hover {
          opacity: 0.5;
          transition: opacity 200ms ease-in-out; }
    .main__service-price .service-price__div-of-services-768px .service-btn-last {
      border: 0; }
  .main__service-price .service-price__info {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 320px; }
  .main__service-price .service-price__div-offer {
    margin-left: 24px;
    margin-bottom: 47px; }
    .main__service-price .service-price__div-offer .div-offer__get-offer {
      margin-right: 9.4px; }
    .main__service-price .service-price__div-offer .div-offer__icon {
      position: static;
      margin-top: 16px; } }

@media (min-width: 1366px) {
  .main__service-price .service-price__title {
    padding-left: 32px;
    margin-top: 20px; }
  .main__service-price .service-price__header-of-table .header-of-table__text-1 {
    margin-left: 56px; }
  .main__service-price .service-price__header-of-table .header-of-table__text-2 {
    margin-left: 350px; }
  .main__service-price .service-price__header-of-table .header-of-table__text-3 {
    margin-left: 170px; }
  .main__service-price .service-price__div-of-services-768px {
    margin-left: 32px;
    margin-right: 32px; }
    .main__service-price .service-price__div-of-services-768px .service-btn-768px {
      margin-left: 24px;
      margin-right: 24px; }
  .main__service-price .service-price__info {
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 650px; }
  .main__service-price .service-price__div-offer {
    margin-left: 32px;
    margin-bottom: 50px; } }

@media (min-width: 320px) {
  .main__site-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    color: #7E7E82;
    border-top: 1px solid #D9FFF5; }
    .main__site-info .site-info__div-768px {
      display: none; }
    .main__site-info .site-info__text-1 {
      margin-top: 16px;
      margin-bottom: 0; }
    .main__site-info .site-info__text-2 {
      margin: 0px; }
    .main__site-info .site-info__text-3 {
      margin-top: 16px;
      margin-bottom: 0; }
    .main__site-info .site-info__text-4 {
      margin: 0;
      margin-top: 16px; }
    .main__site-info .site-info__text-5 {
      margin: 0;
      margin-bottom: 19px; }
    .main__site-info .site-info__text-4-768px {
      display: none; } }

@media (min-width: 768px) {
  .main__site-info {
    flex-direction: row;
    align-items: flex-start; }
    .main__site-info .site-info__div-768px {
      display: block;
      margin-top: 32px;
      margin-left: 24px; }
      .main__site-info .site-info__div-768px .div-768px__text-1 {
        margin: 0; }
      .main__site-info .site-info__div-768px .div-768px__text-2 {
        margin: 0; }
    .main__site-info .site-info__text-1 {
      display: none; }
    .main__site-info .site-info__text-2 {
      display: none; }
    .main__site-info .site-info__text-3 {
      margin: 0;
      margin-top: 32px;
      margin-left: 35px;
      margin-right: 40px; }
    .main__site-info .site-info__text-4 {
      display: none; }
    .main__site-info .site-info__text-5 {
      display: none; }
    .main__site-info .site-info__text-4-768px {
      display: block;
      width: 213px;
      text-align: end;
      margin-top: 32px;
      margin-bottom: 25px; } }

@media (min-width: 1366px) {
  .main__site-info .site-info__div-768px {
    margin-left: 31px; }
  .main__site-info .site-info__text-3 {
    margin-left: 145px;
    margin-right: 149px; }
  .main__site-info .site-info__text-4-768px {
    width: 330px;
    margin-bottom: 21px; } }

@media (min-width: 320px) {
  .body .body__modal-call {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 320px;
    height: 676px;
    z-index: 2; }
  .body .body__modal-feedback {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 320px;
    height: 676px;
    z-index: 2; }
  .body .visible-feedback-call {
    display: block;
    animation: sweep-1 .5s ease-in-out; }
  .body .modal-logo-close {
    width: 40px;
    height: 40px;
    position: relative;
    top: 24px;
    left: 16px;
    cursor: pointer; }
    .body .modal-logo-close:hover {
      opacity: 0.5;
      transition: opacity 200ms ease-in-out; }
  .body .modal-highlight {
    position: relative;
    top: 105px;
    right: 43px; }
  .body .modal-title {
    margin-left: 16px;
    margin-bottom: 24px;
    margin-top: 64px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 600; }
  .body .modal-form {
    display: flex;
    flex-direction: column; }
    .body .modal-form .input-form {
      font-family: "TT Lakes Medium";
      font-size: 16px;
      line-height: 24px;
      border-radius: 8px;
      border: 1px solid #EAEAEA;
      width: 288px;
      height: 48px;
      align-self: center;
      margin-bottom: 16px; }
      .body .modal-form .input-form::-moz-placeholder {
        color: #B5B6BC;
        padding-left: 16px; }
      .body .modal-form .input-form::placeholder {
        color: #B5B6BC;
        padding-left: 16px; }
    .body .modal-form .form__number::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    .body .modal-form .form__message {
      height: 118px; }
      .body .modal-form .form__message::-moz-placeholder {
        transform: translateY(-35px); }
      .body .modal-form .form__message::placeholder {
        transform: translateY(-35px); }
  .body .modal-policy {
    display: block;
    width: 288px;
    height: 64px;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    margin: 0;
    margin-left: 16px; }
    .body .modal-policy .policy__span {
      color: #FF3E79; }
  .body .modal-button-send {
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -0.15px;
    background-color: #FF3E79;
    color: #FFFFFF;
    border: 0;
    border-radius: 16px;
    width: 136px;
    height: 32px;
    margin-top: 19px;
    margin-left: 168px;
    cursor: pointer; }
    .body .modal-button-send .button-send__text-send {
      margin: 0;
      align-self: center; }
    .body .modal-button-send .button-send__logo-send {
      margin-left: 13px;
      align-self: center; }
    .body .modal-button-send:hover {
      opacity: 0.5;
      transition: opacity 200ms ease-in-out; } }

@media (min-width: 768px) {
  .body .body__modal-feedback {
    left: 435px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2); }
  .body .body__modal-call {
    left: 435px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2); } }

@media (min-width: 1366px) {
  .body .body__modal-feedback {
    position: fixed;
    width: 440px;
    height: 2385px;
    left: 1200px;
    border-left: 1px solid #D9FFF5; }
  .body .body__modal-call {
    position: fixed;
    width: 440px;
    height: 2385px;
    left: 1200px;
    border-left: 1px solid #D9FFF5; }
  .body .modal-logo-close {
    top: 40px;
    left: -70px; }
  .body .modal-highlight {
    top: 40px;
    right: 43px; }
  .body .modal-title {
    margin-left: 31px;
    margin-bottom: 24px;
    margin-top: 0; }
  .body .modal-form .input-form {
    width: 376px; }
  .body .modal-policy {
    margin-left: 31px;
    width: 376px; }
  .body .modal-button-send {
    margin-left: 272px;
    margin-top: 0; } }


/*# sourceMappingURL=style.css.map*/