@media (min-width: 320px) {
    .main__service-price {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-left: 16px;
        margin: 0;
        position: relative;
        min-width: 0;

        .service-price__title {
            display: flex;
            align-items: center;
            height: 56px;
            margin: 0;
            background-image: linear-gradient(to right, $color-main-grey, $color-warm-white);
            color: $color-blue-grey;
            border-top: 1px solid $color-light-blue;
            padding-left: 16px;
        }

        .service-price__header-of-table {
            display: none;
        }

        .service-price__div-of-services {
            display: flex;
            margin-bottom: 40px;
            overflow: hidden;
            width: 270px;
            margin-left: auto;
            margin-right: auto;

            .div-of-services__wrapper {

                .service-btn {
                    display: flex;
                    flex-direction: column;
                    width: 260px;
                    height: 200px;
                    margin-top: 16px;
                    background-color: $color-warm-white;
                    border: 1px solid $color-warm-white-btn-brands;
                    border-radius: 6px;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -0.2px;
            
                    .p-title {
                        display: block;
                        width: 228px;
                        margin: 0;
                        margin-left: 16px;
                        margin-top: 16px;
                        color: $color-blue-grey;
                    }
                
                    .p-text {
                        display: block;
                        width: 244px;
                        margin: 0;
                        margin-top: 4px;
                        margin-left: 16px;
                    }
            
                    .div-text-and-btn {
                        display: flex;
            
                        .div__order-btn {
                            display: flex;
                            background-color: $color-red-btn;
                            color: $color-warm-white;
                            width: 119px;
                            height: 32px;
                            border-radius: 16px;
                            margin-right: 16px;
                            margin-bottom: 16px;
                            margin-top: 16px;
                            cursor: pointer;
                        
                            &:hover {
                                opacity: 0.5;
                                transition: opacity 200ms ease-in-out;
                            }
            
                            .order-btn__text {
                                display: block;
                                font-size: 12px;
                                font-weight: 600;
                                letter-spacing: -0.15px;
                                line-height: 24px;
                                margin: 0;
                                align-self: center;
                                margin-left: 12px;
                            }
                        
                            .order-btn__img-dropdown {
                                width: 7px;
                                height: 9.63px;
                                align-self: center;
                                margin-left: 17px;
                                margin-right: 16px;
                            }
                        }
                        
                        .test-btn {
                            margin-top: 0;
                        }  
                    }
                }    
            }
        }

        .div-of-services__swiper-pagination {
            position: absolute;
            transform: translateX(105px) translateY(-233px);
    
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background-color: $color-light-blue-grey;
            }
        }    

        .service-price__div-of-services-768px {
            display: none;
        }

        .service-price__info {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            margin: 0;
            margin-left: 16px;
            margin-right: 16px;
        }  
        
        .service-price__div-offer {
            display: flex;
            margin-left: 16px;
            margin-bottom: 52px;
            cursor: pointer;

            .div-offer__get-offer {
                margin-right: 15px;
                margin-bottom: 0;
                font-family: $font-demi;
            }
        
            .div-offer__icon {
                position: relative;
                top: 21px;
                right: 185px;
            }
    
            &:hover {
                opacity: 0.5;
                transition: opacity 200ms ease-in-out; 
            }
        }
    }
}

@media (min-width: 768px) {
    .main__service-price {

        .service-price__title {
            padding-left: 24px;
        }

        .service-price__div-of-services {
            display: none;
        }
    
        .div-of-services__swiper-pagination {
            display: none;
        }
    
        .service-price__header-of-table {
            display: flex;
            font-size: 14px;
            line-height: 16px;
            color: $color-blue-grey;
            margin-top: 31px;

            .table-name {
                margin: 0;
            }
        
            .table-text {
                margin: 0;
                margin-bottom: 16px;
            }
        
            .header-of-table__text-1 {
                margin-left: 40px;
            }
        
            .header-of-table__text-2 {
                margin-left: 246px;
            }
        
            .header-of-table__text-3 {
                margin-left: 61px;
            }
        }
    
        .service-price__div-of-services-768px {
            display: flex;
            flex-direction: column;
            background-color: $color-warm-white;
            border-radius: 6px;
            margin-left: 24px;
            margin-right: 24px;
            font-size: 14px;
            line-height: 18px;

            .service-btn-768px {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 64px;
                border-bottom: 1px solid $color-warm-white-btn-brands;
                margin-left: 16px;
                margin-right: 16px;

                .p-text-price-1 {
                    margin-left: 257px;
                }
            
                .p-text-price-2 {
                    margin-left: 230px;
                }
            
                .p-text-price-3 {
                    margin-left: 100px;
                }
            
                .p-text-price-4 {
                    margin-left: 5px;
                }
            
                .p-text-price-5 {
                    margin-left: 102px;
                }
                
                .p-text-duration-1 {
                    margin-right: 33px;
                }
            
                .p-text-duration {
                    margin-left: 15px;
                }

                .div__order-btn-768px {
                    display: flex;
                    background-color: $color-red-btn;
                    color: $color-warm-white;
                    width: 119px;
                    height: 32px;
                    border-radius: 16px;
                    margin-right: 0;
                    cursor: pointer;

                    .order-btn__text {
                        display: block;
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: -0.15px;
                        line-height: 24px;
                        margin: 0;
                        align-self: center;
                        margin-left: 12px;
                    }
                
                    .order-btn__img-dropdown {
                        width: 7px;
                        height: 9.63px;
                        align-self: center;
                        margin-left: 17px;
                        margin-right: 16px;
                    }
            
                    &:hover {
                        opacity: 0.5;
                        transition: opacity 200ms ease-in-out;
                    }
                }
            }

            .service-btn-last {
                border: 0;
            }
        }
    
        .service-price__info {
            margin-top: 24px;
            margin-left: 24px;
            margin-right: 320px;
        }
    
        .service-price__div-offer {
            margin-left: 24px;
            margin-bottom: 47px;

            .div-offer__get-offer {
                margin-right: 9.4px;
            }

            .div-offer__icon {
                position: static;
                margin-top: 16px;
            } 
        } 
    }
}

@media (min-width: 1366px) {
    .main__service-price {

        .service-price__title {
            padding-left: 32px;
            margin-top: 20px;
        }

        .service-price__header-of-table {

            .header-of-table__text-1 {
                margin-left: 56px;
            }
        
            .header-of-table__text-2 {
                margin-left: 350px;
            }
        
            .header-of-table__text-3 {
                margin-left: 170px;
            }
        }
    
        .service-price__div-of-services-768px {
            margin-left: 32px;
            margin-right: 32px;

            .service-btn-768px {
                margin-left: 24px;
                margin-right: 24px;
            }
        }
    
        .service-price__info {
            margin-top: 32px;
            margin-left: 32px;
            margin-right: 650px;
        }
    
        .service-price__div-offer {
            margin-left: 32px;
            margin-bottom: 50px;
        }    
    }
}