$font-medium: 'TT Lakes Medium';
$font-demi: 'TT Lakes Demi';
$font-bold: 'TT Lakes Bold';
$color-black: #1B1C21;
$color-light-blue: #D9FFF5; 
$color-main-grey: #F8F8F8;
$color-blue-grey: #7E7E82;
$color-light-green: #B8FFEC;
$color-warm-white: #FFFFFF;
$color-rgba-dark-blue: rgba(14, 24, 80, 0.2);
$color-light-blue-grey: #B5B6BC;
$color-warm-white-btn-brands: #EAEAEA;
$color-dark-red-fade-gradient: rgba(248, 248, 248, 0.0001);
$color-red-btn: #FF3E79;
